#shark{
    left:100px; top:400px;
    position:absolute;
    animation-name: shark;
    animation-duration: 8s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes shark{
    0%{left:100px; top:400px}
    20%{left:300px; top:400px}
    40%{left:500px; top:300px}
    50%{left:600px; top:500px}
    60%{left:600px; top:100px}
    80%{left:500px; top:200px}
    100%{left:100px; top:400px;transform:scaleX(-1)}
}

#turtle{
    left:-100px; top:-900px;
    position:absolute;
    animation-name: turtle;
    animation-duration: 25s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes turtle{
   0% {top: 450px; left: 50px;}
  50% {top: 200px; left: 1050px; transform: scaleX(1);}
  51%{transform: scaleX(-1);}
  70%{top: 20px; left:200px;}
  100% {top: 450px; left: 50px; transform: scaleX(-1)}
}

#fish {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: fish 8s infinite;
}

@keyframes fish {
  0% {top: 50px; left: 250px;}
  50% {top: 400px; left: 200px; transform: scaleX(1);}
  51%{transform: scaleX(-1);}
  70%{top:400px; left:1000px}
  100% {top: 50px; left: 250px; transform: scaleX(1)}
}

#fish2 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: fish2 8s infinite;
}

@keyframes fish2 {
  0% {top: 500px; left: 800px;}
  25% {top: 20px; left: 400px; transform: scaleX(1);}
  26%{transform: scaleX(-1);}
  50%{top: 50px; left:1000px}
  51%{transform: scaleX(1);}
  75%{top:300px; left:20px}
  76%{transform: scaleX(-1);}
  100% {top: 500px; left: 800px; transform: scaleX(1)}
}

#diver {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: diver 20s infinite;
}

@keyframes diver {
  0% {top: 200px; left: 1300px;}
  25% {top: 600px; left: 500px; transform: scaleX(1);}
  26%{transform: scaleX(-1);}
  50%{top: 75px; left: 1px}
  51%{transform: scaleX(1);}
  75%{top:50px; left:1000px}
  76%{transform: scaleX(-1);}
  100% {top: 200px; left: 1300px; transform: scaleX(1)}
}